
footer {
    width: 100vw;
    height: 10rem;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    h4 {
        font-family: $manrope;
        color: $navy;
        font-size: 1.25rem;
        font-weight: bold;

        span {
            font-weight: normal;
        }
      }

      .socials__container {
        width: 7.875rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a img:hover {
            cursor: pointer;
            scale: 1.1;
          }
      }
  }
